### 변수
- 영문과 숫자, _ 로 이뤄짐
- 대소문자를 구분
- 문자나, _ 로 시작
- 특수문자 사용 금지(&, % 등)
- 키워드 사용 금지(if, for 등)

#### 대소문자 구분

In [5]:
a=1
A=2
A1=3
print(a, A, A1)

1 2 3

#### 동시에 3개의 변수 만들기

In [4]:
a, b, c = 3, 2, 1  
print(a,b,c)

3 2 1

#### 값 교환

In [6]:
a, b = 10, 20
print(a, b)

10 20

In [9]:
a, b = b, a  # a와 b 값 교환
print(a, b)

10 12345

#### 변수 타입

In [8]:
a = 12345
print(type(a))  # 정수

<class 'int'>

In [13]:
a = 12.1234567891234567891235
print(a)  # 실수는 8비트까지만 출력해주므로 중간에 끊김

12.123456789123457

In [11]:
a = 12.12345678912
print(type(a))  # 실수

<class 'float'>

In [12]:
a = 'student'
print(type(a))  # 문자

<class 'str'>

### 출력함수

#### print

In [14]:
print('number')

number

In [15]:
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

In [16]:
print('number', a, b, c)

number 1 2 3

In [17]:
print('number : ', a, b, c)

number :  1 2 3

#### sep

In [20]:
print(a, b, c, sep = ', ')  # 각 변수 사이를 ,로 띄어쓰기

1, 2, 3

In [21]:
print(a, b, c, sep = '')   # 각 변수 사이를 공백없이 출력

123

In [22]:
print(a, b, c, sep = ' ')  # 각 변수 사이를 공백으로 띄어쓰기

1 2 3

In [23]:
print(a, b, c, sep = '\n')  #  줄바꿈

1
2
3

#### 줄 바꿈

In [27]:
print(a)
print(b)
print(c)
# print는 기본적으로 줄바꿈이 되어 출력

1
2
3

In [28]:
print(a, end ='')
print(b, end ='')
print(c, end ='')
# end=''하면 줄바꿈되어 출력되지 않음

123